doctype 5
html( lang="en" )
  head
    title barbuza.github.io
    link( rel="stylesheet", href="http://fonts.googleapis.com/css?family=Roboto:300" )
    link( rel="stylesheet", href="style.css" )
  body
    .vcard
      img( class="photo", src="photo.jpg" )
      .fn Victor Kotseruba
      .skills python, ruby, javascript, erlang, objective-c
      a( class="url", href="https://github.com/barbuza" ) github: barbuza
      a( class="url", href="https://facebook.com/barbuza" ) facebook: barbuza
      a( class="url", href="skype:barbuzaster?call" ) skype: barbuzaster
